<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Go check out the <a href="http://www.railstutorial.org">Rails Tutorial website</a> or you can look in the
  <a href="http://www.railstutorial.org/book"> book</a>
</p>

